*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
	height: 100%;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px){
	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){
	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize;
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

/*----------------
 	Landing Page
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}
.hero h4{
	font: normal 24px 'Open Sans', sans-serif;
	margin-bottom: 5px;
	margin-top: 5px;
}

.hero a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

}

/*--------------------
 	Latest Research
---------------------*/

.research{
	position: relative;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.container{
	display: flex;
	width: 80%;
	justify-content: center;
	/*border: 1px solid pink;*/
	color: black;
	flex-direction: column;
}

.entry{
	display: flex;
	flex-direction: row;
	margin-left:8px;
	margin-right: 8px;
	margin-top: 3px;
	margin-bottom: 0px;
	text-align: left;
	font: normal 22px 'Open Sans', sans-serif;
}

.name{
	margin-left:8px;
	margin-right: 8px;
	margin-top: 3px;
	margin-bottom: 0px;
	text-align: left;
	font: normal 22px 'Open Sans', sans-serif;
	flex: 15;
}

.year{
	flex: 1;
}

.details{
	text-align: left;
	margin-left:8px;
	margin-right: 8px;
	margin-top: 0px;
	font: normal 14px 'Open Sans', sans-serif;
	padding-top: 6px;
	padding-bottom: 6px;
	flex: 15;
}

.details a{
	font: normal 15px 'Open Sans', sans-serif;
	font-weight:600;
	color: red;
}

@media all and (max-width: 800px) {
  .container {
    width: 100%;
  }
	.entry{
		flex-direction: column;
		justify-content: center;
	}
}

/* Small screens */
@media all and (max-width: 500px) {
  .container {
    width: 100%;
  }
	.entry{
		flex-direction: column;
		justify-content: center;
	}
}

.research .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #FFFFFF;
	z-index: -1;
}

.research .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f6f6f6;
	opacity: 0.75;
}

.research h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
	color: black;
}

@media (max-width: 800px){
	.research h1{
		font-size: 48px;
	}

	.research h3{
		font-size: 24px;
	}

}

/*-------------
 	Social Links
-------------*/

.social-links{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
}

.social-links ul{
	display: flex;
	font-size: 75px;
}

.social-links ul li{
		margin: 0 8px;
}

.social-links ul li:first-child{
		margin-left: 0;
}

.social-links ul li:last-child{
		margin-right: 0;
}

@media (max-width: 700px){

	.social-links{
		padding: 20px 15px;
	}

}
